@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {

    /* ------------------- */
    /*  Color  */
    /* ------------------- */
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    --fs-300:1.5rem;
}


/* reset */

*,*::after,*::before {
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    font-size: 100%;
}

input{
    margin: 0;
    border: 0;
    outline: none;
    background-color: transparent;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 5rem auto;
    padding: 5rem 8rem;
    background-color: var(--light-grayish-cyan);
}

.wrapper .logo{
    text-align: center;
    margin-bottom: 1rem;
}

.logo img{
    width: 3rem;

}

.container{
    display: flex;
    width: 100%;
    max-width: 700px;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    margin-inline: auto;
    justify-content: space-between;
}

.calculation{
    flex: 1;
}

.user-input{
    background-color: var(--very-light-grayish-cyan);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0.5rem;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
}

.user-input:hover{
    cursor: pointer;
    border: 1px solid var(--strong-cyan);
}

.user-input input{
      text-align: right;
}

.error.user-input{
    border: 1px solid red;
}

.tip-btns button{
    display: inline-block;
    width: 5rem;
    height: 2rem;
    background: var(--very-dark-cyan);
    margin-bottom: 0.5rem;
    color: var(--white);
    border-radius: 5px;
    border: 0;
}

.custom-value{
    width: 30%;
    padding: 0.25rem;
    padding-right:0.1rem;
    text-align: right;
    background-color: var(--very-light-grayish-cyan);
    color: var(--light-grayish-cyan);
    font-weight: 600;
}


.output{
    flex: 1;
    margin: 1rem;
}

.output-container{
    background-color: var(--very-dark-cyan);
    padding: 2rem 1rem;
    border-radius: 5px;
}

.amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

h2{
    color: var(--white);
    font-size: 0.8125rem;
    font-weight: 500;
}

.content span{
    display: block;
    color: var(--light-grayish-cyan);
    font-size: 0.5rem;
}

.reset{
    width: 100%;
    background-color: var(--strong-cyan);
    color: var(--dark-grayish-cyan);
    border: 0;
    margin-top: 8rem;
    padding-block: 0.25rem;
    border-radius: 3px;
    font-weight: 600;
}

.tip-amount-result span{
    color: var(--strong-cyan);
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
}


